language: node_js
node_js:
  - "8.1.2"
cache:
  directories:
    - node_modules
script:
  - npm test
  - .bin/hugo_0.44 -d public/
# Deploy to GitHub pages
deploy:
  provider: pages
  skip_cleanup: true
  local_dir: public
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  on:
    branch: master
